* {
  font-family: Arial;
  color: #606060;
}

body {
  background-color: #DCDCDC;
  color: #606060;
}

.App {
  text-align: center;
  font-family: Arial;
}

.playerForm {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.playerForm input {
  width: 330px;
  height: 25px;
  margin: 10px;
  border-width: 2px;
  border-color: black;
  font-weight: bold;
}

#age, #shirtNumber {
  width: 40px;
  height: 20px;
}

#submitButton {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

#submitButton:hover {
  background-color: darkslateblue;
  transition: 2s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  font-family: Arial;
  font-size: 25px;
}

.links {
  display: flex;
  margin-right: auto;
}

.links a {
  margin-right: 20px;
  text-decoration: none;
  color: #606060;
}

.links a:hover {
  color: coral;
  transition: 1s;
}

.links a::after {
  content: "|";
  margin-left: 10px;
  color: #fff;
}

.links a:last-child::after {
  content: "";
}

.playerData {
  text-align: center;
  margin-top: 30px;
  padding: 30px;
  line-height: 25px;
}

.playerData h1 {
  margin-top: 0px;
  margin-bottom: 40px;
}

.playerList {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin: auto;
}

#detailsButton {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

#detailsButton:hover {
  background-color: darkslateblue;
  transition: 2s;
}

.playerDetails {
  max-width: 600px;
  margin: 0 auto;
}

.playerDetails h1 {
  margin: 8px 0;
}

.playerContainer {
  align-items: center;
  background-color: #e3dede;
  padding: 10px;
  width: 600px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: -moz-center;
}

.editForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.editForm label {
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .editForm {
    grid-template-columns: 1fr;
  }
}

#editButton {
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;
  width: 75px;
  height: 30px;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  background-color: #FFC300;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}

#editButton:hover {
  background-color: darkgoldenrod;
  transition: 2s;
}

#updateButton {
  margin-right: auto;
}

#deleteButton {
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;
  width: 75px;
  height: 30px;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  background-color: #e81717;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

#deleteButton:hover {
  background-color: darkred;
  transition: 2s;
}


